<header class="header">
  <div class='container'>
    <div class="header__body">
      <a href="#" class="header__logo">
        <img src="images/logo.png" alt="logo">
      </a>
      <div class="header__burger">
        <span></span>
      </div>
      <nav class="header__menu">
        <ul class="header__list">
          <li>
            <a href="#" class="header__link _active">Гланая</a>
          </li>
          <li>
            <a href="#" class="header__link">Галерея</a>
          </li>
          <li>
            <a href="#" class="header__link">Проекти</a>
          </li>
          <li>
            <a href="#" class="header__link">Сертифікати</a>
          </li>
          <li>
            <a href="#" class="header__link">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>