<main>
    <section class='hero__section _section'>
        <div class='hero__container _container'>
            <div class="image-slider swiper-container">
                <div class="swiper-button-prev">
                    <svg class='swiper-button__icon'>
                        <use href='./sprite.svg#icon-ico-left'></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class='swiper-button__icon'>
                        <use href='./sprite.svg#icon-ico-right'></use>
                    </svg>
                </div>
                <div class="image-slider__wrapper swiper-wrapper">
                    <!-- <div class="image-slider__slide swiper-slide">
                        <div class="swiper-slide__contaier">
                            <h3 class='section__title '>PROJECT</h3>
                            <h4 class='hero__description'>HOME</h4>

                        </div>
                        <div class="hero__img__container">
                           <picture>
                                <source srcset='./images/hero-slides/1.webp' type='image/webp'>
                                <source srcset='./images/hero-slides/1.jpg'>
                                <img class='hero__img' src="./images/hero-slides/1.jpg" alt="фото проекту" width="100%">
                            </picture> 
                            <a rel='noopener no-referrel nofollow' class='hero__link _link'>взглянуть
                                <svg class='hero__link__icon'>
                                    <use href='./sprite.svg#icon-ico-right'></use>
                                </svg>
                            </a>

                        </div>
                    </div>  -->
                    <div class="image-slider__slide swiper-slide">
                        <div class="swiper-slide__contaier">
                            <h2 class='section__title '>PROJECT</h2>
                            <h3 class='hero__description'>Second HOME</h3>

                        </div>
                        <div class="hero__img__container">
                            <picture>
                                <source srcset='./images/hero-slides/2.webp' type='image/webp'>
                                <source srcset='./images/hero-slides/2.jpg'>
                                <img class='hero__img' src="./images/hero-slides/2.jpg" alt="фото проекту" width="100%">
                            </picture>
                            <a rel='noopener no-referrel nofollow' class='hero__link _link' href='#'>взглянуть
                                <svg class='hero__link__icon'>
                                    <use href='./sprite.svg#icon-ico-right'></use>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="swiper-pagination"></div>

            </div>
    </section>
    <section class='about-us__section _section'>
        <div class='about-us__container _container'>
            <div class='about-us__pictures'>
                <div class='pictures-left'>
                    <div class='pictures-left-top'>

                    </div>
                    <div class='pictures-left-bottom'>

                    </div>
                </div>
                <div class='pictures-right'>

                </div>
            </div>
            <div class='about-us__decorative-container'>
                <h2 class='section__title'>Про компанію</h2>
                <p class='about-us__description'>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially
                    unchanged.
                </p>
                <a rel='noopener no-referrel nofollow' class='about-us__link _link' href=''>детальніше
                    <svg class='hero__link__icon'>
                        <use href='./sprite.svg#icon-ico-right'></use>
                    </svg>
                </a>
            </div>

        </div>
    </section>
</main>